
// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.his-color {
  background-color: #fffbdb;
}

.my-color {
  background-color: #cce5ff;
}

.time-utc {
  color: gray;
  font-size: 60%;
}

.time-utc-large {
  color: gray;
  font-size: 80%;
}